:root {
    --heading-background-color: #F5F5C0;
    --heading-text-color: #6E0E0A;
    --primary-color: #F2BB05;
    --secondary-color: #124E78;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: var(--heading-background-color);
}

.logo-box {
    display: inline-block;
    padding: 10px;
}

.logo-box img {
    width: 150px;
    height: auto;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 10%;
    color: var(--heading-text-color);
    background-color: var(--primary-color);
    padding: 10px;
}


article img.float-right {
    float: right;
    margin-left: 10px;
    width: 200px;
    height: auto;
}

section {
    padding: 20px;
    background-color: #f0f0f9;
    margin: 10px 0;
}

section h2 {
    color: var(--secondary-color);
}

section p {
    font-size: 1rem;
    color: #333;
}

.my-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.my-work img {
    width: 180px;
    height: auto;
    margin: 10px;
}

nav.sociallinks {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav.sociallinks a {
    margin: 0 10px;
}

nav.sociallinks img {
    width: 30px;
    height: auto;
    text-decoration: none;
}

.hero article {
    background-color: rgba(242, 187, 5, 0.9); /* Increase opacity */
}